* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 68, 110);
  display: grid;
  grid-template-rows: 200px 3fr 1fr;
  grid-template-columns: 50px 1fr 50px;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(193, 255, 251, 0.856);
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  position: relative;
}

.img1 {
  z-index: 1;
  position: absolute;
}

.img2 {
  z-index: 1;
  position: absolute;
}

main {
  background-color: rgba(193, 255, 251, 0.2);
  margin-top: 20px;
  grid-row: 2/-1;
  grid-column: 2/3;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

form {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input {
  min-height: 30px;
}

label {
  min-height: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
}

button {
  margin-top: 50px;
}

.previous-reviews {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .previous-reviews-reverse{
  ### alternative class for reversed order in #previous-reviews ###
  display: flex;
flex-direction: column;
} */

.review-box {
  padding: 5px;
  border: 5px double rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.details-p {
  color: white;
  padding: 5px;
  background-color: rgb(5, 68, 110);
  display: grid;
  border-radius: 5px;
}
.comments-p {
  color: white;
  padding: 5px;
  background-color: rgb(10, 68, 110);
  border-radius: 5px;
  margin-top: 10px;
}
